<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898331466908-cebelsehct0tpm90d4se6nneelqdh99b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898331466908-cebelsehct0tpm90d4se6nneelqdh99b</string>
	<key>API_KEY</key>
	<string>AIzaSyBEA08viRmvr0GZlyAEseKtKE3o5et2270</string>
	<key>GCM_SENDER_ID</key>
	<string>898331466908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thainguyen.InstagramFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebaseapp-1c728</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebaseapp-1c728.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898331466908:ios:07a74414bbaa0a3c44e159</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebaseapp-1c728.firebaseio.com</string>
</dict>
</plist>